# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# תלושי Node.js
node_modules/
build/
dist/

# תלושי סביבה
.env

# קבצים של מערכת הפעלה
.DS_Store
Thumbs.db

# קבצים של עורך טקסטים כמו Visual Studio Code
.vscode/
.idea/

# קבצי לוג
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# אחרים
*.log
