.about-page{
  display: flex;
  background-color: white;
  box-shadow:2px 2px 2px 2px rgba(72, 72, 72, 0.573);
padding-top: 50px;
padding-bottom: 50px;
padding-right: 100px;
}
.about-yael {
    background-color: #f9f9f9;
    text-align: right; /* יישור לימין */
    padding-bottom: 80px;
}
  
  .about-yael h1 {
    margin-bottom: 15px;
    margin-top: 50px;
    margin-right: 100px;
    color: #c70d61;
    text-align: center;
    position: relative;
    display: inline-block;
    padding-bottom: 5px; /* מרווח בין הכותרת לקו */
}
.about-yael h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px; /* גובה הקו */
    width: 100%;
    background-color: #ff0374; /* צבע הקו */
    transform: scaleX(0); /* הפחתת קנה המידה של הקו */
    transition: transform 0.3s ease; /* מעבר חלק */
  }

.about-yael h1:hover::after {
    transform: scaleX(1); /* להגדיל את הקו לגודלו המלא */
  }
.about-yael h1:hover{
    color: #ff0374;
}
.about-yael h1:hover::before {
    opacity: 1; /* מסגרת נראית כשהעכבר מעל */
    transform: scale(1); /* הפחתת הגודל ליצירת אפקט התקרבות */
  }
  
.about-yael p {
    max-width: 800px;
    margin-right: 100px;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 10px;
    color: #555;
    transition: color 0.3s ease-in-out; /* אנימציה לשינוי צבע */
  }
.about-yael p:hover{
    color: #c70d61;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .about-page .about-imag{
    width: 20%;
    border-radius: 150px;
    animation: float 3s ease-in-out infinite; /* Applies the float animation */
  }