body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.contact-page {
    margin: 50px auto;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.457);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-page h1 {
    text-align: center;
    margin-bottom: 30px;
}

.contact-page .form-input {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.contact-page .form-input .input-textfild{
    margin-bottom: 20px;
    border-radius:  5px 5px 0px 0px;
}


.contact-page .button-send{
    border-radius: 25px;
    background-color: #c70d61;
    margin-top: 20px;
   height: 45px;
}


.contact-page .form-input .input-textfild .MuiInputLabel-root {
    color: #c70d61; 
}





.contact-page .input-textfild .MuiFilledInput-root:before {
    border-bottom: none; /* הסרת הקו התחתון לפני הפוקוס */
}

.contact-page .input-textfild .MuiFilledInput-root:after {
    border-bottom: none; /* הסרת הקו התחתון אחרי הפוקוס */
}

.contact-page .input-textfild .MuiFilledInput-root:hover:before {
    border-bottom: none; /* הסרת הקו התחתון בהעברת העכבר */
}

.contact-page .input-textfild .MuiInputLabel-root {
    text-align: right; /* מיקום התווית לימין */
    right: 25px; /* וודא שהתווית נמצאת בקצה הימני */
    left: auto; /* לא לאפשר לתווית להיות בקצה השמאלי */
}
.contact-page .circel{
    color: white;
}